form {
    fieldset {
        font-size: 1em;
        padding: 0.5em;
        border: none;
        font-family: sans-serif;
        input[type="text"] {
            border: 1px solid #ccc;
            color: rgb(26, 26, 26);
            font-size: 1em;
            line-height: 2;
            padding: 0 0.5em;
        }
        button[type="submit"] {
            border: 1px solid #ccc;
            color: rgb(26, 26, 26);
            font-size: 1em;
            line-height: 2;
            padding: 0 0.5em;
        }

        button:disabled {
            color: #ccc;
        }
    }
}