<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form (ngSubmit)="newTodoInput$.next(todoInput)" #addTodoForm="ngForm">
  <fieldset>
    <input
      type="text"
      name="todoInput"
      [(ngModel)]="todoInput"
      minlength="3"
      required
    >
    <button
      type="submit"
      [disabled]="!addTodoForm.form.valid">
      Add</button>
  </fieldset>
</form>

<app-todo-list
  [todoItems]="items"
></app-todo-list>

<router-outlet></router-outlet>
